@font-face{
	font-family: futura;
	src:url("_typo/futura.ttf") format("truetype");
}
@font-face{
	font-family: futuraBold;
	src:url("_typo/futura Bold.ttf") format("truetype");
}

body {
	width: 100%;
	height: 100%;
	font-family: futura, arial;
	background-image: url("_Logo/jpg et png/Logo-.png");
	background-size: 200px 63px;
	background-repeat: no-repeat;
	background-position: top right;
}

/*-----------Menus-----------*/

#menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu2{
	list-style: none;
	margin: 0;
	padding-left: 55%;
}

/*---------Fin Menus----------*/

/*-----------bordure gauche---------*/
#bordureG{
	width:75px;
	height: 100%;
	background-image: url("image/Bandeau fin.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	float: left;
	margin-right: 10px;
}



/*-----------tableau-------------*/
#consultation_ajout{
	margin-bottom: 2em;
}
#consultation_ajout table{
	border: 0px;
	border: medium solid #0009;
	border-collapse: collapse;
	text-align: center;
}
#consultation_ajout td, #consultation_ajout th{
	border-bottom: thin solid #0009;
	border-right: thin solid #0009;
}

#table{
	border: medium solid #0009;
	border-collapse: collapse;
	width: 98%;
	text-align: center;
}

#tableau{
	min-height:60px;
	height:416px;
	min-width:60px;
	width: auto;
	overflow:scroll;
}

#table td ,#table th{
	border-bottom: thin solid #0009;
	border-right: thin solid #0009;
	min-width: 10px;
}

/* barre de recherche */
.search{
	width: auto;
	max-width: 555px;
	position: absolute;
}
/* fin barre de recherche */